/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

html {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.header {
	text-align: center;
	padding: 3em;
	.header-div {
		// display: block;
		// width: 20vw;
		// margin: 0 auto;
		.header-div-h1 {
			text-align: left;
			font-size: 6.4em;
			font-weight: 700;
			padding-left: 10vw;
		}
	}
	.header-nav {
		text-align: left;
		padding-left: 10vw;
		.header-nav-ul {
			.header-nav-li {
				.header-nav-ul-a {
					text-decoration: none;
					color: gray;
					display: block;
					padding: .5em;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

}

.main {
	width: 100vw;
	text-align: center;

	.main-article {

		.main-article-h2 {
			padding: 3em;
			font-weight: 100;
			font-size: 2.4em;
		}
		.main-article-img {
			margin: auto;
		}
		// .instagram-css-effects-lark {

		// }
		// .instagram-css-effects-reyes {

		// }
		// .instagram-css-effects-juno {

		// }
		// .instagram-css-effects-slumber {

		// }
		// .instagram-css-effects-crema {

		// }
		// .instagram-css-effects-ludwig {

		// }
		// .instagram-css-effects-aden {

		// }
		// .instagram-css-effects-perpetua {

		// }
		// .instagram-css-effects-amaro {

		// }
		// .instagram-css-effects-mayfair {

		// }
		// .instagram-css-effects-rise {

		// }
		// .instagram-css-effects-hudson {

		// }
		// .instagram-css-effects-valencia {

		// }
		// .instagram-css-effects-xpro2 {

		// }
		// .instagram-css-effects-sierra {

		// }
		// .instagram-css-effects-willow {
		// 	-webkit-effects: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
		// 	effects: saturate(0.02) contrast(0.85) brightness(1.2) sepia(0.02);
		// }
		// .instagram-css-effects-lofi {
		// 	-webkit-effects: contrast(1.52) brightness(0.9) brightness(1.1) sepia(0.08);
		// 	effects: contrast(1.52) brightness(0.9) brightness(1.1) sepia(0.08);
		// }
		// .instagram-css-effects-earlybird {

		// }
		// .instagram-css-effects-brannan {

		// }
		// .instagram-css-effects-inkwell {
		// 	-webkit-effects: grayscale(1) brightness(1.36) contrast(0.9);
		// 	effects: grayscale(1) brightness(1.36) contrast(0.9);
		// }
		// .instagram-css-effects-hefe {

		// }
		// .instagram-css-effects-nashville {

		// }
		// .instagram-css-effects-sutro {
		// 	-webkit-effects: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
		// 	effects: brightness(0.75) contrast(1.3) sepia(0.5) hue-rotate(-25deg);
		// }
		// .instagram-css-effects-toaster {
		// 	-webkit-effects: sepia(0.72) saturate(5.6) brightness(1.3) contrast(1.24);
		// 	effects: sepia(0.72) saturate(5.6) brightness(1.3) contrast(1.24);
		// }
		// .instagram-css-effects-walden {
		// 	-webkit-effects: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
		// 	effects: sepia(0.35) contrast(0.9) brightness(1.1) hue-rotate(-10deg) saturate(1.5);
		// }
		// .instagram-css-effects-1977 {

		// }
		// .instagram-css-effects-kelvin {
		// 	-webkit-effects: sepia(0.72) saturate(2.4) brightness(1.3) contrast(1.24);
		// 	effects: sepia(0.72) saturate(2.4) brightness(1.3) contrast(1.24);
		// }
	}
}

.footer {
	text-align: center;
	margin-top: 8em;
	margin-bottom: 4em;

	.footer-ul {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		margin-bottom: 3em;

		.footer-ul-li {
			padding: 2em;

			.footer-ul-li-a {
				display: block;
				color: black;
				text-decoration: none;
				font-size: 2em;

				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
	}

	.footer-small {
		font-size: .4em;
	}
}

#img_fork_me {
	position: fixed;
	top: 0;
	right: 0;
	width: 24vw;
}

#page-top {
	position: fixed;
	bottom: 1em;
	left: 1em;
}
